@font-face {
    font-family: 'Odin-font';
    src: url(./fonts/Norse-Bold.otf);
}

@font-face {
    font-family: 'Roboto-medium';
    src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-light';
    src: url(./fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    background-color: rgba(238, 238, 238, 0.521);
}

.page {
    display: flex;
}

.left {
    width: 40%;
    position: fixed;
    background-image: url(./images/colombia.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-family: 'Odin-font', sans-serif;
    background-color: rgba(119, 117, 117, 0.404);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
    gap: 12px;
}

img {
    height: 80%;
    width: 15%;
}

#logo-text {
    font-size: 4rem;
    color: white;
}

footer {
    color: white;
    font-size: 24px;
    margin-top: auto;
    margin-bottom: 16px;
}

a:visited,
.footer-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.clickable:hover {
    font-size: 26px;
}

.right {
    width: 60%;
    margin-left: auto;
}

.top-text {
    font-size: 24px;
    width: 80%;
    margin: 8% 20% 48px 5%;
    font-family: 'Roboto-medium', sans-serif;
}

.form {
    box-shadow: 0 4px 10px rgba(128, 128, 128, 0.432);
    height: 50%;
    background-color: white;
    margin-bottom: 4%;
    padding-bottom: 16px;
}

.big-container {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-family: 'Roboto-regular', sans-serif;
    opacity: 0.8;
    font-size: 12px;
}

.names,
.contacts,
.passwords {
    display: flex;
    gap: 100px;
    padding: 8px;
}

.first-name,
.last-name,
.email,
.phone-number,
.password {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    opacity: 0.8;
}

input {
    padding: 6px 40px 6px 6px;
    font-size: 14px;
    border: 1px solid #dbdcdf;
    border-radius: 4px;
}

input:focus {
    box-shadow: 2px 2px 6px rgba(128, 128, 128, 0.637);
}

h2 {
    font-family: 'Roboto-light', sans-serif;
    margin-left: 5%;
    padding-top: 2%;
    opacity: 0.8;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 14px 48px;
    border: none;
    font-size: 16px;
    margin-left: 5%;
    margin-bottom: 0.5%;
    box-shadow: 4px 4px 6px rgba(128, 128, 128, 0.5);
}

button:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.login-text {
    margin-left: 5%;
    font-family: 'Roboto-Regular', sans-serif;
}

#log-in {
    color: #596D48;
    font-size: 16px;
    font-weight: bold;
}

#log-in:hover {
    cursor: pointer;
}



/* To remove arrow scroll keys from the phone number input field */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}